################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.git/
bin/
obj/

/Web.Api.Core/Web.Api.Core.xml
/Web.Api/Web.Api.xml
